In [16]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_csv('india-age-demography.csv')
data.head()

,name,state code,dist. Code,Area Name,Age,Total Persons
0,C3713,1,0,State - JAMMU & KASHMIR (01),All ages,12541302
1,C3713,1,0,State - JAMMU & KASHMIR (01),0,275312
2,C3713,1,0,State - JAMMU & KASHMIR (01),1,274393
3,C3713,1,0,State - JAMMU & KASHMIR (01),2,285931
4,C3713,1,0,State - JAMMU & KASHMIR (01),3,286440

In [18]:
# remove all the unwanted rows - it is a mixture of integer and string
#remove string elements
data = data[data['Age'] != 'All ages']
data = data[data['Age'] != 'Age not stated']
data = data[data['Age'] != '100+']
data['Age'] = data['Age'].astype(int)
data.head()
list(set(data['Age']))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [19]:
#students are considered to be of age 3 and 20
data = data[data['Age']>= 3]
data = data[data['Age']<= 20]
data.head()

,name,state code,dist. Code,Area Name,Age,Total Persons
4,C3713,1,0,State - JAMMU & KASHMIR (01),3,286440
5,C3713,1,0,State - JAMMU & KASHMIR (01),4,292808
6,C3713,1,0,State - JAMMU & KASHMIR (01),5,303136
7,C3713,1,0,State - JAMMU & KASHMIR (01),6,300885
8,C3713,1,0,State - JAMMU & KASHMIR (01),7,270538

In [20]:
state_names = list(set(data['Area Name']))
print('States Count - ',len(state_names))
print(state_names)

States Count -  35
['State - TAMIL NADU (33)', 'State - CHHATTISGARH (22)', 'State - ARUNACHAL PRADESH (12)', 'State - UTTARAKHAND (05)', 'State - MANIPUR (14)', 'State - CHANDIGARH (04)', 'State - MAHARASHTRA (27)', 'State - PUNJAB (03)', 'State - HARYANA (06)', 'State - GUJARAT (24)', 'State - SIKKIM (11)', 'State - DAMAN & DIU (25)', 'State - KERALA (32)', 'State - GOA (30)', 'State - JAMMU & KASHMIR (01)', 'State - ANDHRA PRADESH (28)', 'State - ODISHA (21)', 'State - MEGHALAYA (17)', 'State - HIMACHAL PRADESH (02)', 'State - PUDUCHERRY (34)', 'State - MADHYA PRADESH (23)', 'State - DADRA & NAGAR HAVELI (26)', 'State - LAKSHADWEEP (31)', 'State - NCT OF DELHI (07)', 'State - ASSAM (18)', 'State - WEST BENGAL (19)', 'State - JHARKHAND (20)', 'State - TRIPURA (16)', 'State - KARNATAKA (29)', 'State - RAJASTHAN (08)', 'State - MIZORAM (15)', 'State - BIHAR (10)', 'State - ANDAMAN & NICOBAR ISLANDS (35)', 'State - NAGALAND (13)', 'State - UTTAR PRADESH (09)']

In [21]:
state_names = sorted(state_names)
expected_state_names = ['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']
expected_state_names = sorted(expected_state_names)

In [22]:
print(len(state_names))
print(len(expected_state_names))

35
35

In [23]:
#compares the state names to be replaced against the right ones
for i in range(0, len(state_names)):
    print(state_names[i]+' - '+expected_state_names[i])
    
    #- delhi seems to be off

State - ANDAMAN & NICOBAR ISLANDS (35) - Andaman and Nicobar Islands
State - ANDHRA PRADESH (28) - Andhra Pradesh
State - ARUNACHAL PRADESH (12) - Arunachal Pradesh
State - ASSAM (18) - Assam
State - BIHAR (10) - Bihar
State - CHANDIGARH (04) - Chandigarh
State - CHHATTISGARH (22) - Chhattisgarh
State - DADRA & NAGAR HAVELI (26) - Dadra and Nagar Haveli
State - DAMAN & DIU (25) - Daman and Diu
State - GOA (30) - Delhi
State - GUJARAT (24) - Goa
State - HARYANA (06) - Gujarat
State - HIMACHAL PRADESH (02) - Haryana
State - JAMMU & KASHMIR (01) - Himachal Pradesh
State - JHARKHAND (20) - Jammu and Kashmir
State - KARNATAKA (29) - Jharkhand
State - KERALA (32) - Karnataka
State - LAKSHADWEEP (31) - Kerala
State - MADHYA PRADESH (23) - Lakshadweep
State - MAHARASHTRA (27) - Madhya Pradesh
State - MANIPUR (14) - Maharashtra
State - MEGHALAYA (17) - Manipur
State - MIZORAM (15) - Meghalaya
State - NAGALAND (13) - Mizoram
State - NCT OF DELHI (07) - Nagaland
State - ODISHA (21) - Orissa
State - PUDUCHERRY (34) - Puducherry
State - PUNJAB (03) - Punjab
State - RAJASTHAN (08) - Rajasthan
State - SIKKIM (11) - Sikkim
State - TAMIL NADU (33) - Tamil Nadu
State - TRIPURA (16) - Tripura
State - UTTAR PRADESH (09) - Uttar Pradesh
State - UTTARAKHAND (05) - Uttarakhand
State - WEST BENGAL (19) - West Bengal

In [26]:
#change delhi to a name so that it will fall in order
data.replace('State - NCT OF DELHI (07)','State - Delhi',inplace=True)
state_names = sorted(list(set(data['Area Name'])))

In [27]:
for i in range(0, len(state_names)):
    print(state_names[i]+' - '+expected_state_names[i])

State - ANDAMAN & NICOBAR ISLANDS (35) - Andaman and Nicobar Islands
State - ANDHRA PRADESH (28) - Andhra Pradesh
State - ARUNACHAL PRADESH (12) - Arunachal Pradesh
State - ASSAM (18) - Assam
State - BIHAR (10) - Bihar
State - CHANDIGARH (04) - Chandigarh
State - CHHATTISGARH (22) - Chhattisgarh
State - DADRA & NAGAR HAVELI (26) - Dadra and Nagar Haveli
State - DAMAN & DIU (25) - Daman and Diu
State - Delhi - Delhi
State - GOA (30) - Goa
State - GUJARAT (24) - Gujarat
State - HARYANA (06) - Haryana
State - HIMACHAL PRADESH (02) - Himachal Pradesh
State - JAMMU & KASHMIR (01) - Jammu and Kashmir
State - JHARKHAND (20) - Jharkhand
State - KARNATAKA (29) - Karnataka
State - KERALA (32) - Kerala
State - LAKSHADWEEP (31) - Lakshadweep
State - MADHYA PRADESH (23) - Madhya Pradesh
State - MAHARASHTRA (27) - Maharashtra
State - MANIPUR (14) - Manipur
State - MEGHALAYA (17) - Meghalaya
State - MIZORAM (15) - Mizoram
State - NAGALAND (13) - Nagaland
State - ODISHA (21) - Orissa
State - PUDUCHERRY (34) - Puducherry
State - PUNJAB (03) - Punjab
State - RAJASTHAN (08) - Rajasthan
State - SIKKIM (11) - Sikkim
State - TAMIL NADU (33) - Tamil Nadu
State - TRIPURA (16) - Tripura
State - UTTAR PRADESH (09) - Uttar Pradesh
State - UTTARAKHAND (05) - Uttarakhand
State - WEST BENGAL (19) - West Bengal

In [29]:
#replace all the names with the right ones
for i in range(0, len(state_names)):
    data.replace(state_names[i], expected_state_names[i], inplace=True)
data.head()

    name  state code  dist. Code          Area Name  Age  Total Persons
4  C3713           1           0  Jammu and Kashmir    3         286440
5  C3713           1           0  Jammu and Kashmir    4         292808
6  C3713           1           0  Jammu and Kashmir    5         303136
7  C3713           1           0  Jammu and Kashmir    6         300885
8  C3713           1           0  Jammu and Kashmir    7         270538

In [31]:
state_names = sorted(list(set(data['Area Name'])))
print(state_names)

['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Orissa', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [34]:
new_data = pd.DataFrame(columns=['State/UT', '#Expected Students'])
for state in state_names:
    temp = data['Total Persons'][data['Area Name'] == state]
    new_data.loc[new_data.shape[0]] = [state,temp.sum()]

In [35]:
new_data.head()

                      State/UT  #Expected Students
0  Andaman and Nicobar Islands            115804.0
1               Andhra Pradesh          28407102.0
2            Arunachal Pradesh            601671.0
3                        Assam          12202657.0
4                        Bihar          46396084.0

In [36]:
new_data.to_csv('state-wise-demography-students.csv',index=False)