In [5]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [10]:
data = pd.read_csv('#schools-initial.csv')
data.head()

                      State/UT  #schools
0  Andaman and Nicobar Islands       477
1               Andhra Pradesh    130093
2            Arunachal Pradesh      3479
3                        Assam     58461
4                        Bihar     77166

In [11]:
data[data['State/UT']=='Andaman and Nicobar Islands']

                      State/UT  #schools
0  Andaman and Nicobar Islands       477

In [12]:
demography = pd.read_csv('india-age-demography/state-wise-demography-students.csv')
demography.head()

                      State/UT  #Expected Students
0  Andaman and Nicobar Islands            115804.0
1               Andhra Pradesh          28407102.0
2            Arunachal Pradesh            601671.0
3                        Assam          12202657.0
4                        Bihar          46396084.0

In [13]:
for state in list(demography['State/UT']):
    print(state,end=None)

    #print(demography['#Expected Students'][demography['State/UT']==state])

    temp = data[data['State/UT']==state]['#schools']
    exp_temp = demography[demography['State/UT']==state]['#Expected Students']
    #print(temp.iloc[0])
    #print(exp_temp.iloc[0])
    #data[data['State/UT']==state].loc[0,'#teachers'] = temp.iloc[0] *100 / exp_temp.iloc[0]
    #print(temp.iloc[0] *100 / exp_temp.iloc[0])
    #print(temp.iloc)
    data.loc[data['State/UT']==state,'#schools'] = temp.iloc[0] *100 / exp_temp.iloc[0]

Andaman and Nicobar Islands
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Dadra and Nagar Haveli
Daman and Diu
Delhi
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu and Kashmir
Jharkhand
Karnataka
Kerala
Lakshadweep
Madhya Pradesh
Maharashtra
Manipur
Meghalaya
Mizoram
Nagaland
Orissa
Puducherry
Punjab
Rajasthan
Sikkim
Tamil Nadu
Tripura
Uttar Pradesh
Uttarakhand
West Bengal

In [15]:
data.head()
data.rename(columns={'#schools':'#schools-100-people'},inplace='True')

In [16]:
data.sort_values('State/UT',inplace=True)
data.head()

                      State/UT  #schools-100-people
0  Andaman and Nicobar Islands             0.411903
1               Andhra Pradesh             0.457959
2            Arunachal Pradesh             0.578223
3                        Assam             0.479084
4                        Bihar             0.166320

In [17]:
data.to_csv('#schools.csv',index=False)