In [2]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [3]:
data = pd.read_csv('#students-initial.csv')
data.head()

,State/UT,#students-secondary,#students-primary,#students-total
0,Andaman and Nicobar Islands,45162,55106,100268
1,Andhra Pradesh,7438966,10768500,18207466
2,Arunachal Pradesh,119238,307741,426979
3,Assam,1762926,4274376,6037302
4,Bihar,6135756,19814706,25950462

In [6]:
data.drop(['#students-secondary','#students-primary'],axis=1,inplace=True)
data.head()

                      State/UT  #students-total
0  Andaman and Nicobar Islands           100268
1               Andhra Pradesh         18207466
2            Arunachal Pradesh           426979
3                        Assam          6037302
4                        Bihar         25950462

In [7]:
data[data['State/UT']=='Andaman and Nicobar Islands']

                      State/UT  #students-total
0  Andaman and Nicobar Islands           100268

In [8]:
demography = pd.read_csv('india-age-demography/state-wise-demography-students.csv')
demography.head()

                      State/UT  #Expected Students
0  Andaman and Nicobar Islands            115804.0
1               Andhra Pradesh          28407102.0
2            Arunachal Pradesh            601671.0
3                        Assam          12202657.0
4                        Bihar          46396084.0

In [9]:
for state in list(demography['State/UT']):
    print(state,end=None)

    #print(demography['#Expected Students'][demography['State/UT']==state])

    temp = data[data['State/UT']==state]['#students-total']
    exp_temp = demography[demography['State/UT']==state]['#Expected Students']
    #print(temp.iloc[0])
    #print(exp_temp.iloc[0])
    #data[data['State/UT']==state].loc[0,'#teachers'] = temp.iloc[0] *100 / exp_temp.iloc[0]
    #print(temp.iloc[0] *100 / exp_temp.iloc[0])
    #print(temp.iloc)
    data.loc[data['State/UT']==state,'#students-total'] = temp.iloc[0] *100 / exp_temp.iloc[0]

Andaman and Nicobar Islands
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
Dadra and Nagar Haveli
Daman and Diu
Delhi
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu and Kashmir
Jharkhand
Karnataka
Kerala
Lakshadweep
Madhya Pradesh
Maharashtra
Manipur
Meghalaya
Mizoram
Nagaland
Orissa
Puducherry
Punjab
Rajasthan
Sikkim
Tamil Nadu
Tripura
Uttar Pradesh
Uttarakhand
West Bengal

In [10]:
data.head()
data.rename(columns={'#students-total':'#students-100-people'},inplace='True')

In [11]:
data.sort_values('State/UT',inplace=True)
data.head()

                      State/UT  #students-100-people
0  Andaman and Nicobar Islands             86.584229
1               Andhra Pradesh             64.094768
2            Arunachal Pradesh             70.965528
3                        Assam             49.475307
4                        Bihar             55.932440

In [12]:
data.to_csv('#students.csv',index=False)