In [18]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [19]:
data = pd.read_csv('#students-initial.csv')
data.head()

,State/UT,#students-secondary,#students-primary,#students-total
0,Andaman and Nicobar Islands,45162,55106,100268
1,Andhra Pradesh,7438966,10768500,18207466
2,Arunachal Pradesh,119238,307741,426979
3,Assam,1762926,4274376,6037302
4,Bihar,6135756,19814706,25950462

In [20]:
data.drop(['#students-secondary','#students-primary'],axis=1,inplace=True)
data.head()

                      State/UT  #students-total
0  Andaman and Nicobar Islands           100268
1               Andhra Pradesh         18207466
2            Arunachal Pradesh           426979
3                        Assam          6037302
4                        Bihar         25950462

In [21]:
data[data['State/UT']=='Andaman and Nicobar Islands']

                      State/UT  #students-total
0  Andaman and Nicobar Islands           100268

In [22]:
scholars = pd.read_csv('new-data-set/faculty-strength-quality-measure/#scholars-in-recognised-institutions-2014.csv')
scholars.head()

,State/UT,Nursery (Pre-Primary/Pre-Basic) - Girls,Nursery (Pre-Primary/Pre-Basic) - Total,Primary - (I-V) - Girls,Primary - (I-V) - Total,Middle - (VI-VIII) - Girls,Middle - (VI-VIII) - Total,High/Higher Secondary - (IX-XII) - Girls,High/Higher Secondary - (IX-XII) - Total,(Pre-Primary to XII) - GRAND TOTAL - Girls,(Pre-Primary to XII) - GRAND TOTAL - Total
0,Andhra Pradesh,171489,390476,3491576,7124940,1793484,3643560,1783415,3719483,7239964,14878459
1,Arunachal Pradesh,24646,52451,108725,225979,39627,81762,27714,59619,200712,419811
2,Assam,378843,771082,1460074,2922714,674772,1351662,402521,881463,2916210,5926921
3,Bihar,98,220,6857499,14934274,2214656,4880432,1276280,3067878,10348533,22882804
4,Chhattisgarh,42295,95569,1553940,3231614,673867,1405827,462630,1000850,2732732,5733860

In [23]:
scholars = scholars[['State/UT', 'Primary - (I-V) - Total', 'Middle - (VI-VIII) - Total', 'High/Higher Secondary - (IX-XII) - Total']]
scholars.head()

,State/UT,Primary - (I-V) - Total,Middle - (VI-VIII) - Total,High/Higher Secondary - (IX-XII) - Total
0,Andhra Pradesh,7124940,3643560,3719483
1,Arunachal Pradesh,225979,81762,59619
2,Assam,2922714,1351662,881463
3,Bihar,14934274,4880432,3067878
4,Chhattisgarh,3231614,1405827,1000850

In [24]:
total_list = []
for idx in scholars.index:
    row = scholars.iloc[idx]
    total_list.append(row['Primary - (I-V) - Total'] + 
                      row['Middle - (VI-VIII) - Total'] + 
                      row['High/Higher Secondary - (IX-XII) - Total'])
    
scholars['#scholars-total'] = total_list
scholars.head()

,State/UT,Primary - (I-V) - Total,Middle - (VI-VIII) - Total,High/Higher Secondary - (IX-XII) - Total,#scholars-total
0,Andhra Pradesh,7124940,3643560,3719483,14487983
1,Arunachal Pradesh,225979,81762,59619,367360
2,Assam,2922714,1351662,881463,5155839
3,Bihar,14934274,4880432,3067878,22882584
4,Chhattisgarh,3231614,1405827,1000850,5638291

In [25]:
scholars_per_df = pd.DataFrame(columns=['State/UT','students-pass-percentage'])

In [26]:
scholars_percentage = []
for state in list(scholars['State/UT']):
    #print(state,end=None)

    #print(demography['#Expected Students'][demography['State/UT']==state])

    temp = data[data['State/UT']==state]['#students-total']
    exp_temp = scholars[scholars['State/UT']==state]['#scholars-total']
    
    scholars_per_df.loc[scholars_per_df.shape[0]] = [state, 
                                                     exp_temp.iloc[0] *100 / temp.iloc[0]]
scholars_per_df.head()

            State/UT  students-pass-percentage
0     Andhra Pradesh                 79.571660
1  Arunachal Pradesh                 86.037018
2              Assam                 85.399720
3              Bihar                 88.177945
4       Chhattisgarh                 84.925008

In [27]:
scholars_per_df.sort_values('State/UT',inplace=True)
scholars_per_df.head()

                       State/UT  students-pass-percentage
28  Andaman and Nicobar Islands                 77.479355
0                Andhra Pradesh                 79.571660
1             Arunachal Pradesh                 86.037018
2                         Assam                 85.399720
3                         Bihar                 88.177945

In [28]:
scholars_per_df.to_csv('students-pass-percentage.csv',index=False)