In [15]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [16]:
data = pd.read_csv('#teachers-initial.csv')
data.head()

            State/UT  #teachers
0     Andhra Pradesh   524297.0
1  Arunachal Pradesh    18035.0
2              Assam   247727.0
3              Bihar   369463.0
4       Chhattisgarh   208411.0

In [17]:
full_time_teachers = pd.read_csv('#full-time-teachers-initial.csv')
full_time_teachers.head()

                      State/UT  #full-time-teachers
0  Andaman and Nicobar Islands                 4683
1               Andhra Pradesh               485308
2            Arunachal Pradesh                12619
3                        Assam               206830
4                        Bihar               258480

In [18]:
full_time_teachers_per = pd.DataFrame(columns=['State/UT','full-time-teachers-percentage'])

In [20]:
for state in list(full_time_teachers['State/UT']):
    #print(state,end=None)

    #print(demography['#Expected Students'][demography['State/UT']==state])#full-time-teachers

    temp = data[data['State/UT']==state]['#teachers']
    exp_temp = full_time_teachers[full_time_teachers['State/UT']==state]['#full-time-teachers']
    
    if((temp.iloc[0] == None) or  (temp.iloc[0] == np.NaN) or (temp.iloc[0] == 0)):
        full_time_teachers_per.loc[full_time_teachers_per.shape[0]] = [state, np.NaN]
    else:
        tempVal = exp_temp.iloc[0] *100 / temp.iloc[0]
        if (tempVal > 100):
            tempVal = 100
        full_time_teachers_per.loc[full_time_teachers_per.shape[0]] = [state, tempVal]
                                                     
full_time_teachers_per.head()

                      State/UT  full-time-teachers-percentage
0  Andaman and Nicobar Islands                      88.962766
1               Andhra Pradesh                      92.563566
2            Arunachal Pradesh                      69.969504
3                        Assam                      83.491101
4                        Bihar                      69.960997

In [21]:
full_time_teachers_per.sort_values('State/UT',inplace=True)
full_time_teachers_per.head()

                      State/UT  full-time-teachers-percentage
0  Andaman and Nicobar Islands                      88.962766
1               Andhra Pradesh                      92.563566
2            Arunachal Pradesh                      69.969504
3                        Assam                      83.491101
4                        Bihar                      69.960997

In [22]:
full_time_teachers_per.to_csv('full-time-teachers-percentage.csv',index=False)