In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [3]:
data = pd.read_csv('#schools-initial.csv')
data.head()

                      State/UT  #schools
0  Andaman and Nicobar Islands       477
1               Andhra Pradesh    130093
2            Arunachal Pradesh      3479
3                        Assam     58461
4                        Bihar     77166

In [4]:
govt_schools = pd.read_csv('#govt-schools-initial.csv')
govt_schools.head()

                      State/UT  #govt-schools
0  Andaman and Nicobar Islands            319
1               Andhra Pradesh          77139
2            Arunachal Pradesh           2681
3                        Assam          41082
4                        Bihar          68769

In [7]:
govt_schools_per = pd.DataFrame(columns=['State/UT','govt-schools-percentage'])
private_schools_per = pd.DataFrame(columns=['State/UT','private-schools-percentage'])

In [8]:
for state in list(govt_schools['State/UT']):
    
    temp = govt_schools[govt_schools['State/UT']==state]['#govt-schools']
    exp_temp = data[data['State/UT']==state]['#schools']
    
    if((temp.iloc[0] == None) or  (temp.iloc[0] == np.NaN) or (temp.iloc[0] == 0)):
        govt_schools_per.loc[govt_schools_per.shape[0]] = [state, np.NaN]
        private_schools_per.loc[private_schools_per.shape[0]] = [state, np.NaN]
    else:
        tempVal1 = temp.iloc[0] *100 / exp_temp.iloc[0]
        tempVal2 = (exp_temp.iloc[0] - temp.iloc[0]) *100 / exp_temp.iloc[0]
        if (tempVal1 > 100):
            tempVal1 = 100
        govt_schools_per.loc[govt_schools_per.shape[0]] = [state, tempVal1]
        
        if (tempVal2 > 100):
            tempVal2 = 100
        private_schools_per.loc[private_schools_per.shape[0]] = [state, tempVal2]
                                                     
govt_schools_per.head()

                      State/UT  govt-schools-percentage
0  Andaman and Nicobar Islands                66.876310
1               Andhra Pradesh                59.295273
2            Arunachal Pradesh                77.062374
3                        Assam                70.272489
4                        Bihar                89.118265

In [9]:
private_schools_per.head()

                      State/UT  private-schools-percentage
0  Andaman and Nicobar Islands                   33.123690
1               Andhra Pradesh                   40.704727
2            Arunachal Pradesh                   22.937626
3                        Assam                   29.727511
4                        Bihar                   10.881735

In [10]:
govt_schools_per.sort_values('State/UT',inplace=True)
private_schools_per.sort_values('State/UT',inplace=True)
govt_schools_per.head()

                      State/UT  govt-schools-percentage
0  Andaman and Nicobar Islands                66.876310
1               Andhra Pradesh                59.295273
2            Arunachal Pradesh                77.062374
3                        Assam                70.272489
4                        Bihar                89.118265

In [11]:
private_schools_per.head()

                      State/UT  private-schools-percentage
0  Andaman and Nicobar Islands                   33.123690
1               Andhra Pradesh                   40.704727
2            Arunachal Pradesh                   22.937626
3                        Assam                   29.727511
4                        Bihar                   10.881735

In [12]:
govt_schools_per.to_csv('govt-schools-percentage.csv',index=False)
private_schools_per.to_csv('private-schools-percentage.csv',index=False)