In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [2]:
data = pd.read_csv('#schools-initial.csv')
data.head()

                      State/UT  #schools
0  Andaman and Nicobar Islands       477
1               Andhra Pradesh    130093
2            Arunachal Pradesh      3479
3                        Assam     58461
4                        Bihar     77166

In [3]:
pucca_schools = pd.read_csv('#pucca-building-type-schools.csv')
pucca_schools.head()

                      State/UT  #pucca-building-type-schools
0  Andaman and Nicobar Islands                           340
1               Andhra Pradesh                         98326
2            Arunachal Pradesh                          2721
3                        Assam                         41070
4                        Bihar                         61912

In [4]:
pucca_schools_per = pd.DataFrame(columns=['State/UT','pucca-building-type-schools-percentage'])

In [5]:
for state in list(pucca_schools['State/UT']):
    
    temp = pucca_schools[pucca_schools['State/UT']==state]['#pucca-building-type-schools']
    exp_temp = data[data['State/UT']==state]['#schools']
    
    if((temp.iloc[0] == None) or  (temp.iloc[0] == np.NaN) or (temp.iloc[0] == 0)):
        pucca_schools_per.loc[pucca_schools_per.shape[0]] = [state, np.NaN]
    else:
        tempVal1 = temp.iloc[0] *100 / exp_temp.iloc[0]
        if (tempVal1 > 100):
            tempVal1 = 100
        pucca_schools_per.loc[pucca_schools_per.shape[0]] = [state, tempVal1]
        
        
                                                     
pucca_schools_per.head()

                      State/UT  pucca-building-type-schools-percentage
0  Andaman and Nicobar Islands                               71.278826
1               Andhra Pradesh                               75.581315
2            Arunachal Pradesh                               78.212130
3                        Assam                               70.251963
4                        Bihar                               80.232227

In [6]:
pucca_schools_per.sort_values('State/UT',inplace=True)
pucca_schools_per.head()

                      State/UT  pucca-building-type-schools-percentage
0  Andaman and Nicobar Islands                               71.278826
1               Andhra Pradesh                               75.581315
2            Arunachal Pradesh                               78.212130
3                        Assam                               70.251963
4                        Bihar                               80.232227

In [7]:
pucca_schools_per.to_csv('pucca-building-type-schools-percentage.csv',index=False)