In [1]:
import pandas as pd
import numpy as np
import json

In [3]:
final_data = pd.read_csv('final-data.csv')
final_data.head()

,State/UT,#schools-100-people,#teachers-100-people,#students-100-people
0,Andaman and Nicobar Islands,0.411903,4.081033,86.584229
1,Andhra Pradesh,0.457959,1.729698,64.094768
2,Arunachal Pradesh,0.578223,2.716767,70.965528
3,Assam,0.479084,2.174297,49.475307
4,Bihar,0.166320,0.664888,55.932440

In [5]:
for col in final_data.columns:
    if(col != 'State/UT'):
        print(col)

#schools-100-people
#teachers-100-people
#students-100-people

In [12]:
col_range = {}
for col in final_data.columns:
    if(col != 'State/UT'):
        minimum = final_data[col].min()
        maximum = final_data[col].max()
        range_data = []
        delta = (maximum - minimum) / 9
        start = minimum
        while(start <= maximum):
            range_data.append(start)
            start = start + delta
        col_range[col]=range_data
        #print(minimum)
        #print(maximum)
#print(range_data)
#print(len(range_data))
json.dumps(col_range)

'{"#students-100-people": [49.184770057399994, 54.12441670105555, 59.06406334471111, 64.00370998836667, 68.94335663202222, 73.88300327567777, 78.82264991933332, 83.76229656298887, 88.70194320664442, 93.64158985029997], "#schools-100-people": [0.08963139449999999, 0.19854093351111113, 0.30745047252222224, 0.41636001153333335, 0.5252695505444445, 0.6341790895555556, 0.7430886285666667, 0.8519981675777778, 0.9609077065888889, 1.0698172456000001], "#teachers-100-people": [0.6648880107999999, 1.2022646714555554, 1.7396413321111108, 2.277017992766666, 2.8143946534222213, 3.3517713140777765, 3.8891479747333317, 4.426524635388887, 4.963901296044442, 5.501277956699997]}'

In [14]:
fp = open('final-col-range.json','w')
fp.write(json.dumps(col_range))
fp.close()